*{
    margin : 0;
    padding : 0;
}
body{
    background-color: #333333;
    color: white;
}
h1{
    font-size:40px;
    font-weight:bold;
    color:#eeec6c;
    text-align : center;
    padding : 20px;
    margin : 20px;
}
p{
    text-align : center;
    color:blanchedalmond;
    padding : 0.2em;
    margin : 15px;
}
a:link{
    color:#ca63df
}
a:visited{
    color:#2ec7b3
}
#grid{
    display : grid;
    grid-template-columns: 0.5fr 0.5fr;
}

